h1 {
    text-align: center;
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

ul{
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(220, 114, 158);
}